* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #ED1A36;
  border-color: #E1E0D0;
  border-style: solid;
  border-width: 1em;
  height:100%;
  padding:1em;
  font-family: oswald;
  color: #E1E0D0;
}
h1{
  font-size: 5em;
}
#word{
  font-size: 3em;
}

#guess{
  font-size: 3em;
  font-family: oswald;
}

.container {
  display: flex;
  justify-content: space-between;
}

#wins, #losses, #score {
  font-size: 3em;
}